<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>&Agrave; propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style=margin:5%>
        <p>Dipl&ocirc;m&eacute; d&rsquo;un Master Physique et Ing&eacute;nierie de l&rsquo;&eacute;nergie, je termine une formation de Data Analyst. Faisant preuve d&rsquo;autonomie, d&rsquo;adaptabilit&eacute; et d&rsquo;un esprit de synth&egrave;se, je souhaite travailler sur des projets vari&eacute;s en lien avec divers m&eacute;tiers. Je suis dispos&eacute; &agrave; me former sur d&rsquo;autres logiciels ou langages de programmation n&eacute;cessaires pour mener &agrave; bien mes missions.</p>
      </div>
      <div style=margin:5%>

      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
           <a href="CV_Jordan_Leclerc.pdf" download target="_blank"class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
